SUPABASE_PASSWORD=
SUPABASE_URL=
SUPABASE_KEY=

# เซ็ตติ้ง url endpoint สำหรับการล็อกอินที่ล้มเหลว (HTTP POST)
LOG_ENDPOINT=
#ตัว alert ในดิสคอร์ด
DISCORD_WEBHOOK=
#พอร์ตเริ่มต้นของคุณ
PORT=
#WebhookMail ของ Resend
RESEND_API_KEY=
